table {
    /* width: 50%; */
    text-align: center;
    /* border:1px solid black; */
}

.tbody{
    background-color:rgb(207, 207, 207)
}

/* tr {
    border-left:1px solid black; 
    border-right:1px solid black; 
}
table tr td {
    height:100px;
}
.head{
    border-left:none; 
    border-right:none; 
} */
