/* .ant-card.select.ant-card-bordered.ant-card-hoverable {
    border: 2px solid red;
} */

.click:focus{
    outline: none;
}

.compare{
    margin:5%;
    margin-left: 15%;
    margin-right: 15%;
}

tr th{
    width: 15%;
    padding: 0;
}